<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>The Greenfield Times</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <a href="/">The Greenfield Times</a>

      <% if signed_in? %>
        Signed in as <%= customer_name %>

        <form action="/sign_out" method="post" style="display: inline">
          <input type="submit" value="Sign out">
        </form>
      <% else %>
        <a href="/sign_in">Sign in</a>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
