<h1>Pricing</h1>

<div class="pricing-table">
  <div>
    <h2>Basic</h2>

    <ul>
      <li>Daily newsletter: Fresh news delivered straight to your inbox every morning.</li>
    </ul>

    <a href="<%= PLIRO_PAGE_URL + "/free_offering/subscribe?continue_url=#{escape(build_continue_url(url('/')))}" %>">Subscribe for free</a>
  </div>

  <div>
    <h2>Premium</h2>

    <ul>
      <li>Daily newsletter: Fresh news delivered straight to your inbox every morning.</li>
      <li>Access to premium content.</li>
    </ul>

    <a href="<%= PLIRO_PAGE_URL + "/plans/premium/subscribe?continue_url=#{escape(build_continue_url(url('/')))}" %>">Subscribe for 99 kr/month</a>
  </div>
</div>
