.teaser {
  position: relative;
}

.teaser-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.teaser-content a[href] {
  position: relative;
  z-index: 1;
}

.paywall {
  background: lightyellow;
}

.pricing-table {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 60em;
}

.pricing-table > * {
  flex: 1 0 15em;
}
